{% extends 'base.html.twig' %}

{% block title %}Page Not Found{% endblock %}

{% block body %}
    <h1>{{status_code}} Not Found</h1>
    <p>The requested page could not be found.</p>
{% endblock %}
